# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Data (DVC will handle raw and processed data intentionally if we used it, 
# but for now we ignore specific data folders to avoid committing large files to git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# DVC
.dvc/tmp/
.dvc/cache/

# Feast
.feast/
feature_store/data/

# MLflow
mlruns/
.trash/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
