name: Deploy API

on:
  workflow_run:
    workflows: ["Train Model"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker Image
        run: docker build -t churn-api:latest .
      # TODO: Add deployment step usually to a cloud provider or registry
